<div class="container">
<p id="notice"><%= notice %></p>

<h1>
  <%= @restaurant.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Reviews:</strong>
  <% @reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  <hr>
  </%>
  <% end %>
</p>

<div>
<button type="button" class="btn btn-secondary btn-sm"><%= link_to 'Edit', edit_restaurant_path(@restaurant) %></button>
</div>
<br>
<div>
<button type="button" class="btn btn-secondary btn-sm"><%= link_to 'Back', restaurants_path %></button>
</div>

</div>
